.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagem {
    width: 300px;
    height: 164px;
    transition: all 0.3s ease;
}

.imagem:hover {
    width: 320px; 
    height: 184px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

.form_class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

button:disabled {
    background-color: rgba(0, 81, 255, 0.5); 
    cursor: not-allowed; 
    opacity: 0.5;
}

.titulo {
    margin-left: 8px;
}

p {
    width: 310px;
    font-size: 13px;
}

.checkbox_termos {
    font-size: 14px;
    margin: 10px 8px;
    display: flex;
    flex-direction: column; 
    padding: 0;
}

a {
    color: black;
}